[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libkloudtrader = {editable = true, git = "https://github.com/kloudtrader-github/libkloudtrader-internal.git"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
